<div class="container" style="padding-top:60px">
  <h2 style="text-align: center;">Welcome to soundNimbus!</h2>
  <br />
  <img src="https://media.newyorker.com/photos/5fb2a9674169cfc0421fd9f8/master/pass/2020-YearinReview-BestMusic.gif" style="width: 90%;display:block;margin-left:auto;margin-right:auto">
</div>